<tr>
    <td>{{ loop.index }}</td>                <!-- Row number: 1, 2, 3... -->
    <td>{{ record.id }}</td>
    <td>{{ record.category }}</td>
    <td style="text-align: right;">{{ record.amount }}</td>
</tr>